/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

/* Reset default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set font styles */
body {
    font-family: 'Roboto', sans-serif;
    background: url('images/campusView1.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Style the header and navigation */
header {
    background-color: black;
    padding: 1rem 0;
}



nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    border-right: #575757;
    
    background-color: black;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Flexbox container */
.flex-container {
    display: flex;
    
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    margin: 1rem;
    border-radius: 10px;
}

/* Style the main content sections */
.content-box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.content-box h2 {
    margin-bottom: 1rem;
    font-family: 'Lobster', cursive;
}

.content-box p {
    margin-bottom: 1rem;
}

.content-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1rem;
}

/* Style the footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

/*photo Grid*/
/* Photo Grid Container */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Photo Grid Columns */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

/* Image Styles */
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive Layout */
@media screen and (max-width: 800px) {
    .column {
        flex: 20%;
        max-width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 10%;
        max-width: 100%;
    }
}

/* Image and paragraph container */
.image-paragraph-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 1rem auto;
}

/* Image and paragraph boxes */
.image-paragraph-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 48%;
}

.image-paragraph-box .box-image {
    max-width: 30%;
    height: auto;
    margin-right: 1rem;
}

.image-paragraph-box .box-paragraph {
    max-width: 50%;
    font-family: 'Lobster', cursive;
}
